@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Syne&display=swap');

:root {
    --primary-color: #fff;
    --secondary-color: #0d0d0d;
}

.dark-theme {
    --primary-color: #2d333b;
    --secondary-color: #b5b7b7;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Syne', sans-serif;
}

body {
    background: var(--primary-color);
}

header {
    width: 100%;
    height: 80px;
    margin-top: 40px;
    position: fixed;
    z-index: 1;
}

.main {
    display: flex;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 100%;
    margin: auto;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo img {
    width: 160px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    display: flex;
}

.menu ul li {
    list-style: none;
    margin-left: 36px;
}

.menu ul li a {
    padding: 14px 50px;
    background-color: transparent;
    border: 1.5px solid var(--secondary-color);
    text-decoration: none;
    font-size: 13px;
    color: var(--secondary-color);
    text-transform: uppercase;
    cursor: pointer;
}

.menu ul li a:hover {
    transform: translate(4px);
    box-shadow: 4px 4px 0px var(--secondary-color);
}

nav ul li {
    display: flex;
}

#icon {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30px;
    height: auto;
    cursor: pointer;
}

#icon:hover {
    transform: scale(1.10);
}

.menu nav img {
    display: none;
}

.menu #btn-menu {
    display: none;
}

/* cover */

.container-cover {
    width: 100%;
    height: 800px;
}

.cover {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-cover .text {
    max-width: 400px;
}

.container-cover .text h1 {
    font-size: 36px;
    font-weight: 600;
}

.container-cover .text p {
    font-size: 18px;
    margin-top: 40px;
}

.container-cover .text h1,
p {
    color: var(--secondary-color);
}

.container-cover .cover .text input {
    padding: 16px 80px;
    border: none;
    font-size: 15px;
    margin-top: 40px;
    background: transparent;
    color: var(--secondary-color);
    border: 1.5px solid var(--secondary-color);
    text-transform: uppercase;
    cursor: pointer;
}

.container-cover .text input:hover {
    transform: translate(4px);
    box-shadow: 4px 4px 0px var(--secondary-color);
}

.container-cover .svg img {
    width: 600px;
    animation: move-vector 4s linear infinite;
}

@keyframes move-vector {
    0% {
        transform: translateY(15px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(15px);
    }
}

/* media query */

@media (width < 800px) {

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 20px 0 20px;
        background: var(--primary-color);
    }

    .menu nav {
        display: none;
        right: -250px;
        background: #222;
        width: 250px;
        height: auto;
        z-index: 1;
        transition: all 300ms;
    }

    #bars-menu {
        display: flex;
        width: 100%;
        height: auto;
    }

    .menu #btn-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: auto;
        cursor: pointer;
        font-weight: 1500;
        transition: all 300ms;
        padding: 0.2em;
        border-radius: 20em;
    }

    .menu #btn-menu:hover {
        background: #ffffff33;
    }

    .menu ul {
        flex-direction: column;
    }

    .cover {
        margin: 10px;
        flex-direction: column;
    }

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .text {
        margin-top: 10em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #picture {
        width: 100%;
        height: auto;
    }

    .svg {
        display: flex; 
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}